/* html, body {
    width: 1800px; 
    max-width: 100%; } */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.certificate {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-banner{
    text-align: center;
}
.psu-logo{
    margin-right: 50px;
    width: 150px;
    height: 150px;
}
.cor-title{
    display: flex;
    justify-content: center;
    align-items:  center;
}
.reg-no span{
    color: rgb(153,33,33);
}
.certificate-box{
    border: 1px solid black;

}
.top-box{
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color:rgb(203,204,245);
    padding: 5px;
    margin: 0;
    
}
.section-one{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top: -10px;
}

.mid-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-left: none;
    border-right: none;
    background-color:rgb(203,204,245);
    padding: 5px;
    margin: 0;
    
}

.unit-group h2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.unit-group h2{
    display: flex;
}

.sub-unit-group{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.sub-unit-group h3{
    margin-left: 10px;
    margin-top: none;
}

table {
    width: 100% ;
    padding: 10px;
    /* border: 1px solid black; */
    border-collapse: collapse;
}


th {
    background-color: rgb(203,204,245);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* border: 1px solid black; */

}

td {
    /* margin: 10px; */
    text-align: left;
    /* border: 1px solid black; */
}

.mid-table{
    width: 100%;
}
.top-cell td{
    padding-top: 10px;

}
.one-cell td{
    padding-top: none;
}

.note{
    margin-left: 10px;
}

.assessed-fees-box{
    width: 50%;
    border: 1px solid black;
    margin:20px;
    padding: 0;
}
.assessed-fees-box h4{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 0;
}
/* .assessed-total-combined{
    padding: 10px;
} */
.assessed-fees-combined{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.assessed-fees-combined p{
    margin: 0;
}
.assessed-fees-right{
    text-align: right;
}
.assessed-fees-left{
    text-align: left;
}
.total{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.total p{
    text-align: right;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.total-top{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
}
.total-left{
    width: 60%;
}.total-right{
    width: 40%;
    margin-right: 20px;
}
.total-mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-left: none;
    border-right: none;

}
.total-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}


.schedule-of-payment{
    background-color: aqua;
}
.schedule-of-payment h4{
    background-color:rgb(203,204,245);
    margin: 0;
}
.schedule-of-payment-combination{
    display: flex;
    /* border: 1px solid black; */

}
.schedule-of-payment-combination p{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

}
.schedule-of-payment-right {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    width: 33%;
}

.schedule-of-payment-mid {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.schedule-of-payment-left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    width: 33%;
}
.schedule-of-payment-top{
    border-bottom: 1px solid black;
    
}

.assessed-rules-combined{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.rules-of-refund{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-section{
    margin-left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.last-section p{
    font-weight: bold;
}
.approve{
    margin: 20px;
    padding-left: 20px;
}
.signature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.signature-name{
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
    border-bottom: 2px solid black;
    margin-bottom: 0;
} .signature-title{
    margin: 0;
    padding: 0;
}

.footer{
    border: 1px solid black;
    border-top: 0;
    margin: 1px;
}
.footer h4{
    margin: 0;
    text-align: center;
    background-color:rgb(203,204,245);

}