
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.certificate {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-banner{
    text-align: center;
}
.psu-logo{
    margin-right: 50px;
    width: 150px;
    height: 150px;
}
.cor-title{
    display: flex;
    justify-content: center;
    align-items:  center;
}
.reg-no span{
    color: rgb(153,33,33);
}
.certificate-box{
    border: 1px solid black;

}
.top-box{
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color:rgb(203,204,245);
    padding: 5px;
    margin: 0;
    
}
.section-one{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top: -10px;
}

.mid-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-left: none;
    border-right: none;
    background-color:rgb(203,204,245);
    padding: 5px;
    margin: 0;
    
}

.unit-group h2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.unit-group h2{
    display: flex;
}

.sub-unit-group{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.sub-unit-group h3{
    margin-left: 10px;
    margin-top: none;
}

table {
    width: 100%;
    padding: -10px;
    /* border: 1px solid black; */
    border-collapse: collapse;
}


th {
    background-color: rgb(203,204,245);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* border: 1px solid black; */

}

td {
    /* margin: 10px; */
    text-align: left;
    /* border: 1px solid black; */
}

.mid-table{
    width: 100%;
}
.top-cell td{
    padding-top: 10px;

}
.one-cell td{
    padding-top: none;
}

/* .note{
    margin-left: 10px;
}

.assessed-fees-box{
    border: 1px solid black;
} */
.assessed-fees-box h4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid black;

}
.assessed-fees-combined{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top: -10px;
}
.assessed-fees-right{
    text-align: right;
}